<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Thymeleaf loop</title>
</head>
<body>
<section>
    <div>
        <table>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Age</th>
            </tr>
            <tr th:each ="user:${users}">
                <td th:text="${user.id}"></td>
                <td th:text="${user.name}"></td>
                <td th:text="${user.age}"></td>
            </tr>
        </table>
    </div>
</section>
<section>
    <div>
        <h3>Thymeleaf Scopes</h3>
        Request Scope: <span th:text="${#httpServletRequest.getAttribute('request')}"></span> <br>
        Session Scope: <span th:text="${session.session}"></span> <br>
        Application Scope: <span th:text="${application.application}"></span> <br>
    </div>
</section>
<section>
    <h2>Thymeleaf Links</h2>
    <!-- redirect to demo page without parameter -->
    <a th:href="@{~/demo}">Visit Demo Page</a> <br />
    <!-- redirect to demo page with parameter -->
    <a th:href="@{~/demo(id=1, name=eric)}">Visit Demo page With Parameter</a>
</section>
</body>
</html>